*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.proyectos {
    border-bottom: 1px solid #ccc;
    background: #F3F4FA;
    padding: 30px;
}

.proyectos h2 {
    text-align: center;
    color: #0089E0;
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 500;
}

.proyectos .contenedor {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.proyectos .contenedor .titulo-seccion {
    width: 45%;
    text-align: center;
}

.proyectos .contenedor .titulo-seccion p {
    color: #979797;
    font-size: 18px;
    font-weight: 400;
}

.proyectos .contenedor .galeria-proyectos {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proyectos .galeria-proyectos .proyecto {
    margin-bottom: 2%;
    cursor: pointer;
}

.proyectos .galeria-proyectos .proyecto img {
    width: 100%;
    border-radius: 5px;
}


/*Proyectos video modal*/


.contenedor-modal .modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
} 





/*Modal fotos proyectos*/
.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .videoModal {
    width: 80%;
    max-width: 800px;
    max-height: 600px;
    transition: 2s;
    border-radius: 5px;
}

.modal .btn-cerrar {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 40px;
    right: 40px;
    background: black;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}


.modal .btn-cerrar i {
    color: #fff;
    font-size: 1.5rem;
    line-height: 50px;

}

.modal .btn-cerrar i:hover {
    transform: rotate(90deg);
    transition: all 0.3s linear;
}